{% load portfolio_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>chrishicks.ai</title>
  <link href="{% static '../static/css/portfolio.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
</head>
<body>
  <div class="stars"></div>
  <div class="twinkling"></div> 
  <div class="topnav">
    <a href="https://hicks-portfolio.herokuapp.com/">Home</a>
    <a href="https://hicks-portfolio.herokuapp.com/portfolio/about">About Me</a>
    <a href="https://hicks-portfolio.herokuapp.com/portfolio">My Projects</a>
    <a href="https://www.linkedin.com/in/chrishickss/" target="_blank">LinkedIn Profile</a>
    <a href="https://github.com/ChrissHickss" target="_blank">Github Profile</a>
    <a href="https://public.tableau.com/app/profile/chrris.hicks" target="_blank">Tableau Public</a>
  </div>
  <div class="title">
    <h1 class="myname">Chris Hicks</h1>
  </div>
  <img id="profpic" src="https://media-exp1.licdn.com/dms/image/C4D03AQFMnV3MmD1Waw/profile-displayphoto-shrink_200_200/0/1644513321529?e=2147483647&v=beta&t=Ryr2MB6izvumFr6PlRtMz-mItZG-LCT_DiPO7CtZk3g">
  <div class="typewriter">
    Welcome to my Data Science Portfolio! Feel free to check out some projects I have worked on. Each one will have a blog post explaining the project and a GitHub repository so you can clone down the code and explore it for yourself!
  </div>
</body>
</html>