{% load portfolio_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>My Projects</title>
  <link href="{% static '../static/css/portfolio.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
</head>
<body>
  <div class="stars"></div>
  <div class="twinkling"></div> 
  <div class="topnav">
    <a href="https://hicks-portfolio.herokuapp.com/">Home</a>
    <a href="https://hicks-portfolio.herokuapp.com/portfolio/about">About Me</a>
    <a href="https://hicks-portfolio.herokuapp.com/portfolio">My Projects</a>
    <a href="https://www.linkedin.com/in/chrishickss/" target="_blank">LinkedIn Profile</a>
    <a href="https://github.com/ChrissHickss" target="_blank">Github Profile</a>
    <a href="https://public.tableau.com/app/profile/chrris.hicks" target="_blank">Tableau Public</a>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>My portfolio</h2>
    <h2>Tags (choose one):</h2>
    {% get_tags as all_tags %}
    <ul id="taglist">
      {% for tag in all_tags %}
        <li>
          <a href="https://hicks-portfolio.herokuapp.com/portfolio/tag/{{ tag|lower }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>